*{
    margin:0px;
    border:0px;
    box-sizing: border-box;
}
body{
    margin-top:10px;
    /* min-width:410px; */
    /* color: #ffffffc7; */
}
.header{
    margin-top: 5px;;
    border:2px solid black;
    position: relative;
    width:100vw;
    height:90px;
    /* background-color: greenyellow; */
}
.img{
    position:absolute;
    display:flex;
    right:15px;
    top:-5px;
}
.img img{
    width:90px;
    height:90px;
}
#usrName{
    margin-top:50px;
    transform: translateY(-50%);
}
#close{
    position:absolute;
    top:-2px;
    right:5px;
    background-color: rgba(184, 35, 35, 0.886);
    border-radius: 50%;
    width:20px;
    height:20px;
}
#close a{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    text-decoration: none;
}
#close:hover{
    background-color: rgb(255, 0, 0);
}
.form{
    position: relative;
}
.formElements{
    border:1px solid;
    height:70vh;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    padding: 20px;
    position:relative;
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
    /* background-color: rgb(73, 65, 65); */
}

.formElements div{
    max-width:450px;
    width:75vw;
}
.formElements div p{
    min-width:80%;
    margin-left:25px;
    /* background-color: red; */
}
.formElements div label{
    min-width:125px;
    /* background-color: green; */
}
.formElements div{
    display:flex;
    justify-content: space-between;
}
input,textarea{
    /* min-width: 150px; */
    min-width: 80%;
    min-height:35px;
    width:90%;
    /* min-width:50%; */
    border:1px solid black;
    margin-left: 0px;
    padding:7px 11px;
    border-radius: 5px;
}
input:active,textarea:active{
    border:2px solid black;
}
.form div p{
    display:inline-block;
    border:2px solid #111;
}
.btns{
    position:absolute;
    bottom: 5px;
    left: 600px;
    /* right:30px; */
    /* left:50%; */
    /* transform: translateX(-50%); */
    user-select: none;
    cursor: pointer;
    /* background-color: red; */
    display:inline-block;
    height:25px;
    width: 130px;

}
.btns a{
    padding:5px;
    background-color: rgba(111, 236, 111, 0.7);
    height :30px;
    border-radius: 10px;
    text-align: center;
}
.btns a:hover{
    background-color: rgba(111, 236, 111);
}
#edit.active{
    display:none;
}
#update.active{
    display: none;
}
input.active{
    pointer-events: none;
    background-color: rgba(229, 229, 229, 0.842);
}
textarea.active{
    pointer-events: none;
    background-color: rgba(229, 229, 229, 0.842);
}

/* Footer */





/* General */
::-webkit-scrollbar{
    width:4px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(35, 24, 35, 0.515);
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    background-color: #f0ffff;
}
